/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  
}

ul.nav, .navbar button{
	font-size: 13px;
}

footer{
	background-color: #008fb3;
	padding-top: 150px;
	padding-bottom: 15px;
	color: white
}

#get-involved{
	background-color: #f5f5f5;
}

.jumbotron{
	text-align: center;
	background-image: url('../images/universe.jpg');
	color: white;
}

.jumbotron h1, .navbar button, ul.nav{
	font-family: 'Arvo', georgia, serif;
}

.btn-lg{
	font-size: 30px;
}


.jumbotron h1{
	margin-top: 0px;
	margin-bottom: 50px;
}

.jumbotron p{
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
}

.homepage{
	text-align: center;
	padding-bottom: 30px;
	padding-top: 30px;
}

.homepage h2{
	font-family: 'Arvo', georgia, serif;
	color: #00b3b3;
	text-transform: uppercase;
	font-size: 36px;
}

.homepage h3{
	font-family: 'Arvo', georgia, serif;
	color: #00b3b3;
	text-transform: uppercase;
	font-size: 26px;
}

.homepage p{
	font-size: 21px;
	font-weight: 300;
}

.homepage a{
	color: #00b3b3;
}

.homepage hr
{
	border-color: #00b3b3;
	width: 150px;
	margin-top: 15px;
}
.homepage a:hover{
	color: #00b3b3;
	text-decoration: none;
	opacity: .8;
}

/* Responsive Styling */
@media (max-width: 1199px) { 
.jumbotron h1{
	font-size: 56px;
	margin-bottom: 30px;
}
}

@media (max-width: 991px) { 
.jumbotron h1{
	font-size: 44px;
	
}

.jumbotron p{
	padding: 0 10px;
}

#get-involved .col-md-4{
	padding-bottom: 20px;
	padding-top: 20px;
}

@media (max-width: 767px) { 
.jumbotron h1{
	font-size: 24px;
	
}

.jumbotron p{
	padding: 0 10px;
	font-size: 15px;
}

.btn-lg{
	font-size: 18px;
}

.homepage p{
	font-size: 18px;
}

footer p{
	font-size:15px;
}

}